body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura del viewport */
}

/* Estilos específicos para el modal de observaciones */
#observacionesModal .modal-content {
    width: 50%; /* Ajustar el ancho si es necesario */
}

#observacionesModal textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical; /* Permitir redimensionar verticalmente */
}

#observacionesModal .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Espacio entre botones */
}
.close-btn {
    background-color: slategray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.close-btn:hover {
    background-color: darkslategray;
}
.btn-card {
    font-size: 0.75rem;
    border: none;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    background-color: rgba(47, 79, 79, 0.3); /* Fondo para que no se vea el contenido detrás */
    padding: 0 0; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para efecto de separación */
}

/* Estilo general para el contenedor principal */
.chompa {
    margin-left: 10px;
}

.container {
    margin: 30px auto;
    padding: 20px;
    max-width: 1200px;
    border-radius: 10px;
    text-align: center;
}

/* Título de la página */
h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Contenedor de las tarjetas de proyectos */
.proyectos-container {
    flex-grow: 1; /* Ocupa el espacio restante */
    width: 90%;
    margin-left: 5%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto; /* Scroll vertical si es necesario */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    /*background-color: #f9f9f9; /* Fondo para mejor visibilidad */
}

#proyectos-container {
    width: 100%; /* Asegura que el contenedor interno ocupe todo el ancho */
    padding: 0; /* Elimina el padding si es necesario */
    margin: 0; /* Elimina el margen si es necesario */
}

.text-black {
    color: black !important;
}

::-webkit-scrollbar {
    display: none;
}

.card {
    border: 1px solid #ddd; /* Borde para las tarjetas */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #f9f9f9;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.3);
}

/* Cada tarjeta individual */
.proyecto-card {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
    padding: 0px 50px;
    margin-bottom: 10px;
    height: auto;
    flex: 0 0 calc(33.33% - 20px); /* Ajusta el ancho de las tarjetas */
    text-align: left !important;
}

.card-body {
    padding: 0.8rem; /* Espaciado interno */
}
.card-text {
    font-size: 1rem; /* Tamaño del texto */
}
.card-title {
    font-size: 1.25rem; /* Tamaño del título */
    font-weight: bold; /* Negrita */
}

/* Enlace dentro de la tarjeta */
.card a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 25px;
}

/* Encabezado dentro de cada tarjeta */
.proyecto-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
}

/* Información adicional dentro de la tarjeta */
.proyecto-card p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}


/* Alineación responsiva */
@media (max-width: 768px) {
    .proyectos-container {
        flex-direction: column; /* Cambia a una sola columna en pantallas pequeñas */
        align-items: center;
    }

    .proyecto-card {
        flex: 0 0 calc(100% - 20px); /* Ocupa todo el ancho en pantallas pequeñas */
    }
}


