/* Estilos específicos para el modal de observaciones */
#observacionesModal .modal-content {
    width: 50%; /* Ajustar el ancho si es necesario */
}

#observacionesModal textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical; /* Permitir redimensionar verticalmente */
}

#observacionesModal .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Espacio entre botones */
}
.close-btn {
    background-color: slategray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.close-btn:hover {
    background-color: darkslategray;
}
.btn-card {
    font-size: 0.75rem;
    border: none;
}

.sticky-header {
    background-color: rgba(47, 79, 79, 0.3);
    padding-top: 10px;
}


/* Estilo general para el contenedor principal */
.chompa {
    margin-left: 10px;
}

.container {
    margin: 30px auto;
    padding: 20px;
    max-width: 1200px;
    border-radius: 10px;
    text-align: center;
}

/* Título de la página */
h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Contenedor de las tarjetas de proyectos */
.proyectos-container {
    width: 90%;
    height: 400px;
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a varias filas */
    padding-left: 10px;
    padding-right: 10px;
    justify-content: left; /* Alinea las tarjetas al centro */
    gap: 20px; /* Espacio entre tarjetas */
    padding: 15px;
    margin-left: 5%;
    align-items: stretch;
    overflow-y: scroll;
    /*background-color: yellow;*/
}

.text-black {
    color: black !important;
}

::-webkit-scrollbar {
    display: none;
}

.card {
    border: 0px;
    max-height: 120px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #f9f9f9;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.3);
}

/* Cada tarjeta individual */
.proyecto-card {
    width: auto;
    background-color: #ffffff;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
    padding: 0px 50px;
    height: auto;
    flex: 0 0 calc(33.33% - 20px); /* Ajusta el ancho de las tarjetas */
}

/* Enlace dentro de la tarjeta */
.card a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 25px;
}

/* Encabezado dentro de cada tarjeta */
.proyecto-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
}

/* Información adicional dentro de la tarjeta */
.proyecto-card p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}


/* Alineación responsiva */
@media (max-width: 768px) {
    .proyectos-container {
        flex-direction: column; /* Cambia a una sola columna en pantallas pequeñas */
        align-items: center;
    }

    .proyecto-card {
        flex: 0 0 calc(100% - 20px); /* Ocupa todo el ancho en pantallas pequeñas */
    }
}


